body,html{
    height: 100%;
    background-color:#f2edf3;
    text-size-adjust: auto;
}

.form-control{
    margin-bottom: 15px;
}

img{
    height: 80px;
    width: 70px;
}

#msgError{
    color: red;
    margin-bottom: 10px;
}

.row{
    padding-top: 1em;
}

#menu{
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: darkblue;
    
}

.btn{
  opacity: 1;
  background-color: darkblue;
  color: white;
}

.csvbtn{
    background-image:url("https://image.flaticon.com/icons/png/512/29/29102.png");
}

.pdfbtn{
    background-image:url("https://image.flaticon.com/icons/png/512/29/29587.png");
}


.cabecalho{
    background-color: #ff9900;
    color: white;
    height: 120px;
    width: 100%;
}

